<!--<h2>Update Bus by number</h2>
<p>Enter Bus number</p>
<input type="text" placeholder="BusNumber" [(ngModel)]="bus-details.busNumber"><br><br>

<input type="text" placeholder="Total Seats" [(ngModel)]="bus-details.totalSeats"><br>
<input type="text" placeholder="Available Seats" [(ngModel)]="bus-details.availableSeats"><br>
<input type="text" placeholder="source" [(ngModel)]="bus-details.source"><br>
<input type="text" placeholder="destination" [(ngModel)]="bus-details.destination"><br>
<input type="text" placeholder="ArrivalDate" [(ngModel)]="bus-details.arrivalDate"><br>
<input type="text" placeholder="ArrivalTime" [(ngModel)]="bus-details.ArrivalTime"><br><br>
<button (click)=" updateBus">Update </button>-->
<!-- update-bus.component.html -->


<!--<div class="col-md-6 offset-md-3">

    <h3> Update bus </h3>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Source</label>
            <input type="text" class="form-control" id="source" [(ngModel)]='bus.source' name="source">
        </div><br>
        <div class="form-group">
            <label>Destination</label>
            <input type="text" class="form-control" id="destination" [(ngModel)]='bus.destination' name="destination">
        </div><br>
        <div class="form-group">
            <label>ArrivalDate</label>
            <input type="text" class="form-control" id="arrivalDate" [(ngModel)]='bus.arrivalDate' name="arrivalDate">
        </div><br>
       
        <div class="form-group">
        <label>ArrivalTime</label>
            <input type="text" class="form-control" id="arrivalTime" [(ngModel)]='bus.arrivalTime' name="arrivalTime">
        </div><br>
           
        <div class="form-group">
            <label>TotalSeats</label>
            <input type="text" class="form-control" id="totalSeats" [(ngModel)]='bus.totalSeats' name="totalSeats">
        </div><br>

        <div class="form-group">
            <label>AvailableSeats</label>
            <input type="text" class="form-control" id="availableSeats" [(ngModel)]='bus.availableSeats' name="availableSeats">
        </div> <br>
            <button class="btn btn-success" type="submit">Update</button>
        <button class="btn1 btn" style="margin-left:10px ;" type="reset">Reset</button>
    </form>

</div>  -->