<html>
<body>
   
<div class="about-container">
    <br><br>
    <h1>ABOUT US</h1><br>
    <p>ProBus is a website specially designed for Passengers to book the tickets in online from their remote places.</p>
    <p>
        This website is designed using Springboot,Angular,HTML and CSS.
    </p>
    <p>ProBus is designed to automate the online ticketing through an easy to use online Bus booking system.</p>
    <p>This application designed by a team of six</p>
    <br><br>
</div>
    
</body> 
</html>