<main>
    <div class="intro">
        <marquee direction="left" behavior="alternate"><b> Welcome to Admin Pro</b> </marquee>
        <p>Ready to Add New Bus??</p>
        <a (click)="gotoAddBus()"><strong>ADD NOW </strong><i class="bi bi-arrow-right"></i></a>
    </div>
</main>

<div class="home-container">
    <br><br>
    <h1>BUS BOOKING PRO</h1> <br><br>
    <p>
        ProBus is India's largest brand for online bus ticket booking and offers an easy-to-use online bus ticket
        booking service , With over 36 million satisfied customers, 3500+ bus operators to choose from, and plenty
        of
        offers on bus ticket booking, ProBus makes road journeys super convenient for travelers. A leading platform
        for
        booking bus tickets, ProBus has been the leader in online bus booking over the past 17 years across
        thousands of
        cities and lakhs of routes in India.
    </p>
    <p>
        Booking a bus ticket online on ProBus app or website is very simple. You can visit ProBus.in and enter your
        source, destination & travel date to check the top-rated bus services available. You can then compare bus
        prices
        & bus amenities, select your preferred seat, boarding & dropping points and make the payment using multiple
        payment options like UPI, debit or credit card, net banking and more. With ProBus get assured safe & secure
        payment methods and guaranteed travel with the best seat and bus operator of your choice. Once the bus
        booking
        payment is confirmed, all you have to do is pack your bags and get ready to travel with the m-ticket which
        you
        can show to the bus operator on your mobile before boarding the bus. Online bus ticket booking with ProBus
        is
        that simple!
    </p>
    <p>
        ProBus is a userfriendly website where any users can easily connect with the flow of booking the bus.
    </p>
    <br><br>
</div>