
<body>
    <section class="vh-100"
        style=" width: 100vw; height: 100vh; background-color: #F3887D; display: flex; justify-content: center;align-items: center;box-shadow: rgb(109 109 125 / 28%) 0px 4px 7px 12px;">
        <div class="container h-100" style="text-align: center; background-color: #F3887D;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-10">
                    <div class="card text-black" style="border-radius: 25px; background-color: #fff;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"
                                        style="font-family: Verdana, sans-serif;color: #5F95D7;">Passenger Login</p>

                                    <div class="mx-1 mx-md-4">
                                        <div class="alert" *ngIf="invalidmessage" style="color: red;">
                                            {{ invalidmessage }}
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-2">
                                                <label for="email">Email Address:</label>
                                                <input type="email" id="email" class="form-control" placeholder="Enter your registered email address"
                                                    [(ngModel)]="emailId" (blur)="validateEmail()"
                                                    [class.is-invalid]="emailInvalid && emailTouched" required />
                                                <div class="invalid-feedback" *ngIf="emailInvalid && emailTouched">
                                                    Email address is required
                                                </div>
                                                <div class="alert" *ngIf="errormessage" style="color: red;">
                                                    {{ errormessage }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-2">
                                                <label for="password">Password:</label>
                                                <input type="password" id="password" class="form-control" placeholder="Enter your password"
                                                    [(ngModel)]="password" (blur)="validatePassword()"
                                                    [class.is-invalid]="passwordInvalid && passwordTouched" required />
                                                <div class="invalid-feedback"
                                                    *ngIf="passwordInvalid && passwordTouched">
                                                    Password is required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="button" (click)="login()" class="btn btn-primary btn-lg"
                                                style=" padding: 0.5rem 1rem; /* Adjust padding as needed */
                                                font-size: 1rem; /* Adjust font size as needed */
                                                white-space: nowrap; 
                                                 background-color: #5F95D7;
                                                 color: #fff;
                                                 border: none;
                                                 border-radius: 5px;
                                                 font-size: 16px;
                                                 cursor: pointer;
                                                 font-family: Tahoma, sans-serif;">Login</button>
                                        </div>

                                        <p style="text-align: center;">Not registered? Create new account:</p>
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="button" (click)="signup()" class="btn btn-primary btn-lg"
                                                style=" padding: 0.5rem 1rem; /* Adjust padding as needed */
                                                font-size: 1rem; /* Adjust font size as needed */
                                                white-space: nowrap; 
                                                 background-color: #5F95D7;
                                                 color: #fff;
                                                 border: none;
                                                 border-radius: 5px;
                                                 font-size: 16px;
                                                 cursor: pointer;
                                                 font-family: Tahoma, sans-serif;">Sign Up</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                    <img src="../../../../assets/login.jpeg" class="img-fluid" alt="Sample image">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
